.wrap {
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 700px;
  //overflow: auto;
  //margin-bottom: 100px;

  >*:last-child {
    margin-bottom: 150px!important;
  }
  .uuidBox {
    border-bottom: none!important;
    padding-bottom: 0!important;
    margin-bottom: 5px!important;

    &.password {
      //border-top: 1px solid rgba(78, 78, 78, 0.168627451);
    }
  }

  .line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e2b;

    &:nth-last-child(2) {
      border-bottom: none;
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--ion-color-primary);
    }
  }

  .check {
    --handle-background-checked: var(--ion-color-secondary-dark);
    --background-checked: var(--ion-color-primary-tint);
  }

  .uuid {
    width: 100%;

    .title {
      margin-bottom: 7px;
    }
  }
  .box {
    padding: 16px 12px;
    background: #FFFFFF;
    border: 0.5px solid var(--ion-color-medium);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;

    span{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #555756;
      word-break: break-word;
    }
  }

  .remove {
    margin-top: auto;
    margin-bottom: 20px;
    --ion-color-contrast: var(--ion-color-danger)!important;
  }

  .scan, .user {
    border-radius: 0;
    display: flex;
    --background: none;
    --background-focused: none;
    --background-hover: none;
    --background-activated: none;
    --background-activated-opacity: none;
    --background-focused-opacity: none;
    --background-hover-opacity: none;
    width: 100%;
    justify-content: space-between;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -8px;
    margin-bottom: -4px;

    p{
      width: 100%;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--ion-color-primary);

      img{
        margin-right: 5px;
      }
    }
    .userImg{
      width: 24px;
      height: auto;
    }
  }
}

@supports not (-webkit-touch-callout: none) {
  .wrap {
    //height: calc(100% - calc(env(safe-area-inset-bottom) + 79px));
  }
}
