.form{
  min-height: 100%;
  display: block;

  .titleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 8px;

    h1 {
      width: 100%;
      text-align: center;
      margin: 20px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: var(--ion-color-primary);
    }
  }

  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--ion-color-dark);
    margin-bottom: 24px;
    text-align: center;
  }

  .time {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin: 0 auto 24px auto;
    width: fit-content;
    color: var(--ion-color-dark);

    span {
      margin-left: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: var(--ion-color-secondary-shade);
    }
  }

  .imgGroup {
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    justify-content: center;

    embed, iframe, >div {
      width: 100%;
      height: 400px;
    }
  }

  .changePhoto {
    margin-bottom: 40px;
  }

  .select {
    margin-bottom: 35px;
  }

  .selectTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--ion-color-dark);
    margin-bottom: 6px;
  }

  .btnGroup {
    display: grid;
    grid-template-columns: 154px auto;
    grid-gap: 15px;
    margin-bottom: 40px;

    :global {
      .myButton {
        height: 40px;
        min-height: 40px;
      }
    }
  }

  .addBtn {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
    border: 1px solid var(--ion-color-secondary);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  .photos {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-gap: 16px;
    justify-content: center;
    align-items: center;

    >div{
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;

      .item {
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          width: 70px;
          height: auto;
          margin-bottom: 5px;
        }
        p{
          word-break: break-word;
          text-align: center;
          font-size: 14px;
        }
      }
      embed, iframe, >div {
        width: 100%;
        height: 100%;
      }

      .close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        display: flex;
        border-radius: 16px;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        opacity: 1;
        background: var(--ion-color-white);

        &:hover {
          transition: 0.3s;
          opacity: .8;
        }
      }
    }
  }
}
