.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100% - 58px);
  padding-top: 48px;

  .box {
    padding: 16px 12px;
    background: #FFFFFF;
    border: 0.5px solid var(--ion-color-medium);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;

    span{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #555756;
      word-break: break-word;
    }
  }
  .logo {
    height: 100px;
    width: 100px;
    margin-bottom: 32px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: var(--ion-color-primary);
    margin-bottom: 16px;
    text-align: center;
  }

  p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--ion-color-dark);
    text-align: center;
    margin-bottom: 80px;
  }

  .button {
    margin-top: auto;
  }

  .errorText, .successText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 40px 0;
    color: var(--ion-color-danger);

    &.successText {
      color: var(--ion-color-success-shade);
    }
  }
}