.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  width: 100%;
  margin-bottom: 8px;


  .calendar {
    width: 26px;
    min-width: 26px;
    height: auto;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
    overflow: hidden;

    &.disable{
      opacity: 0.5;
      pointer-events: none;
    }

    img{
      width: 26px;
      min-width: 26px;
      height: auto;
    }
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--ion-color-primary);
  }
}